body {
    background-color: rgb(245, 245, 245);
    font-family: 'Raleway', sans-serif;
}
.ui.inverted.top.fixed.menu.borderless.red.menu {
    background-color: #ff5144;
}


.title.header {
    font-family: 'Raleway', sans-serif!important;
    font-size:18px!important;
}


.ui.inverted.segment.container.nav {
    width: 400px;
    background-color: rgb(235, 235, 235);
    padding: 2px 2px 2px 2px;
    margin-top: 100px;
}
.ui.three.borderless.item.menu {
    border: none;
    box-shadow:none
}

.ui.inverted.segment.container.nav .item {
    background-color: rgb(235, 235, 235);
    color: rgb(187, 187, 187);
}

.ui.inverted.segment.container.nav .active.item {
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);

}
.ui.basic.segment.container.content {
    width: 850px;
}
